$white: #FFFFFF;
$black: #000000;

$primary: #da2562;
$secondary: #8cd9c4;
$tertiary: #d2edf9;

$primary--dark: #a61646;
$secondary--dark: #2d866e;
$tertiary--dark: #a5dcf3;

$secondary--darkest: #194d3f;
$tertiary--darkest: #093243;


