@import '../../StyleHelpers/style-helpers';

.results {
  position: absolute;
  z-index: 2;

  .renderFadeIn {
    animation: fadeIn 1s linear;
  }

  .renderFadeOut {
    animation: fadeOut 500ms linear;
  }

  &__loading {
    width: 500px;
    height: 500px;
    position: relative;
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    & p {
      position: relative;
      font-size: 42px;
      margin: 0;
      top: 15px;
      left: 22%;
    }
  }

  &__calculating {
    &:after {
      display: inline-block;
      animation: dotty steps(1,end) 1s infinite;
      content: '';
    }
  }

  &__loadingBar {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 19px;
    transform: translate(-50%, -50%);
    background-color: $secondary--dark;

    &__outer {
      position: relative;
      height: 30px;
      width: 300px;
      border: 10px solid $secondary;
      border-radius: 15px;
    }

    &__inner {
      position: absolute;
      background: repeating-linear-gradient(
        45deg,
        $tertiary,
        $tertiary 10px,
        $primary 10px,
        $primary 20px
      );
      width: 0px;
      height: 10px;
      border-radius: 15px;
      animation: progress 2500ms linear;
      animation-fill-mode: both;
    }
  }

  &__finished {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__naughtyOrNice {
    font-size: 94px;
    margin: -50px auto 50px;
    position: relative;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 600;
    animation: glitchSkew 1s infinite linear alternate-reverse;
    &::before {
      @include glitchCopy;
      left: 2px;
      text-shadow: -2px 0 $primary;
      clip: rect(44px, 450px, 56px, 0);
      animation: glitchAnim 5s infinite linear alternate-reverse;
    }

    &::after {
      @include glitchCopy;
      left: -2px;
      text-shadow: -2px 0 $primary, 2px 2px $primary;
      clip: rect(44px, 450px, 56px, 0);
      animation: glitchAnim2 5s infinite linear alternate-reverse;
    }
  }

  .nice {
    &::before {
      text-shadow: -2px 0 $secondary;
    }
    &::after {
      text-shadow: -2px 0 $secondary, 2px 2px $secondary;
    }
  }
}

.santa {
  top: 675px;
  width: 187px;
  position: absolute;
  left: -366px;
  overflow: hidden;
  animation: slideInJiggle forwards 4s ease;
}

.trainTracks__container {
  position: fixed;
  height: 1024px;
  width: 768px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
}

.trainTracks {
  top: 990px;
  width: 770px;
  position: relative;
  overflow: hidden;
}

.mineCart {
  width: 263px;
  left: -490px;
  top: 706px;
  position: relative;
  animation: slideInJiggle forwards 4s ease;
}

@keyframes slideInJiggle {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(490px);
  }
}