@import "../../StyleHelpers/style-helpers";

.intro {
  position: absolute;
  z-index: 2;
  margin-top: -50px;

  .santaHead__container {
    display: flex;
    width: 700px;
    height: 241px;
    justify-content: center;
  }

  .heading {
    margin-bottom: 80px;

    & h1 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      line-height: 1.8;
      font-size: 42px;
      font-weight: 500;
      margin: 0;
    }

    .tagline {
      display: flex;
      align-items: center;
      justify-content: center;

      .keyword {
        margin-right: 20px;
        position: relative;
        font-family: 'Orbitron', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        animation: glitchSkew 1s infinite linear alternate-reverse;

        &::before {
          @include glitchCopy;
          left: 2px;
          text-shadow: -2px 0 $primary;
          clip: rect(44px, 450px, 56px, 0);
          animation: glitchAnim 5s infinite linear alternate-reverse;
        }

        &::after {
          @include glitchCopy;
          left: -2px;
          text-shadow: -2px 0 $primary, 2px 2px $primary;
          clip: rect(44px, 450px, 56px, 0);
          animation: glitchAnim2 5s infinite linear alternate-reverse;
        }
      }

      .or {
        margin-right: 20px;
      }

      .nice {
        &::before {
          text-shadow: -2px 0 $secondary;
        }
        &::after {
          text-shadow: -2px 0 $secondary, 2px 2px $secondary;
        }
      }

    }
  }
}